.card {
    display: flex;
    flex-direction: column;
    background: var(--neutral-25);
    border-radius: 16px;
    color: var(--text-base);

    &__cover {
        overflow: hidden;
        position: relative;
        border-radius: 16px 16px 0 0;
    }
    &__image {
        display: block;
        width: 100%;
        object-fit: cover;
        @include transition;
    }
    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__text {
        max-height: 96px;
        @include text-ellipsis-rows(4);
    }
    &__play {
        &:hover {
            .card__image {
                transform: scale(1.1);
            }
        }
    }
    &__play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        @include backdrop(rgb(35 45 56 / 0.57), 8px);
    }

    &--cell {
        flex-direction: row;

        .card__cover {
            flex-shrink: 0;
            width: 205px;
            border-radius: 16px 0 0 16px;

            @include tablet-only {
                width: 180px;
            }
            @include mobile-only {
                width: 140px;
            }
        }
        .card__image {
            height: 116px;
        }
        .card__title {
            max-height: 80px;
            @include text-ellipsis-rows(4);
        }
    }
    &--row {
        flex-direction: row;

        @include mobile-only {
            flex-direction: column;
        }

        .card__cover {
            flex-shrink: 0;
            width: 320px;
            border-radius: 16px 0 0 16px;

            @include laptop-only {
                width: 280px;
            }
            @include handset-only {
                width: 220px;
            }
            @include mobile-only {
                width: 100%;
                border-radius: 16px 16px 0 0;
            }
        }
        .card__image {
            height: 180px;

            @include handset-only {
                height: 168px;
            }
            @include mobile-only {
                height: 200px;
            }
        }
        .card__body {
            padding: 16px 24px;

            @include mobile-only {
                padding: 16px;
            }
        }
        .card__title {
            max-height: 48px;
            @include text-ellipsis-rows(2);
        }
        .card__text {
            max-height: 40px;
            @include text-ellipsis-rows(2);
        }
    }

    &--xl {
        .card__image, .card__video {
            width: 100%;
            height: 540px;
            object-fit: cover;

            @include tablet-max {
                height: 354px;
            }
            @include handset-max {
                height: 280px;
            }
            @include mobile-only {
                height: 200px;
            }
        }
        .card__body {
            padding: 16px 24px;

            @include mobile-only {
                padding: 16px;
            }
        }
        .card__title {
            max-height: 96px;
            @include text-ellipsis-rows(3);

            @include tablet-max {
                max-height: 90px;
            }
        }
        .card__play-icon {
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }
    }
    &--l {
        .card__image, .card__video {
            width: 100%;
            height: 354px;
            object-fit: cover;

            @include handset-max {
                height: 280px;
            }
            @include mobile-only {
                height: 200px;
            }
        }
        .card__body {
            padding: 16px 24px;

            @include mobile-only {
                padding: 16px;
            }
        }
        .card__title {
            max-height: 96px;
            @include text-ellipsis-rows(3);

            @include tablet-max {
                max-height: 90px;
            }
        }
        .card__play-icon {
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }
    }
    &--half {
        .card__image, .card__video {
            width: 100%;
            height: 354px;
            object-fit: cover;

            @include laptop-max {
                height: 320px;
            }
            @include tablet-only {
                height: 240px;
            }
            @include handset-max {
                height: 180px;
            }
            @include mobile-only {
                height: 200px;
            }
        }
        .card__title {
            max-height: 72px;
            @include text-ellipsis-rows(3);
        }
        .card__play-icon {
            margin-top: -30px;
            margin-left: -30px;
            width: 60px;
            height: 60px;
        }
    }
    &--m {
        .card__image, .card__video {
            width: 100%;
            height: 232px;
            object-fit: cover;

            @include laptop-max {
                height: 212px;
            }
            @include tablet-only {
                height: 240px;
            }
            @include handset-max {
                height: 180px;
            }
        }
        .card__title {
            max-height: 72px;
            @include text-ellipsis-rows(3);
        }
        .card__play-icon {
            margin-top: -30px;
            margin-left: -30px;
            width: 60px;
            height: 60px;
        }
    }
    &--s {
        .card__image, .card__video {
            width: 100%;
            height: 170px;
            object-fit: cover;

            @include tablet-max {
                height: 200px;
            }
            @include handset-max {
                height: 180px;
            }
            @include mobile-only {
                height: 200px;
            }
        }
        .card__title {
            max-height: 72px;
            @include text-ellipsis-rows(3);
        }
        .card__play-icon {
            margin-top: -30px;
            margin-left: -30px;
            width: 60px;
            height: 60px;
        }
    }
}
a {
    &.card {
        &:hover {
            color: var(--text-primary);

            .card__image {
                transform: scale(1.1);
            }
            .card__text {
                color: var(--text-base);
            }
        }
    }
    &.card__title {
        color: var(--text-base);

        &:hover {
            color: var(--text-primary);
        }
    }
}