.column {
    display: flex;
    flex-direction: column;

    &--36 {
        gap: 36px;
    }
    &--32 {
        gap: 32px;
    }
    &--24 {
        gap: 24px;
    }
    &--16 {
        gap: 16px;
    }
    &--8 {
        gap: 8px;
    }
    &--4 {
        gap: 4px;
    }

    &--align-start {
        align-items: flex-start;
    }
    &--align-center {
        align-items: center;
    }
    &--align-end {
        align-items: flex-end;
    }
}