.sorting {
  position: relative;

  &.is-open .dropdown-backdrop {
    display: block;
  }

  &.is-open .button--dropdown::after {
    transform: rotate(180deg);
  }

  .button {
    @include handset-max {
      font-size: 0;
      text-indent: -99999px;
      gap: 0;
      width: 32px;
    }

    &::after {
      @include handset-max {
        display: none !important;
      }
    }

    .icon {
      @include tablet-min {
        display: none !important;
      }
    }
  }

  &--mobile-inverse {
    .dropdown-backdrop {
      @include handset-max {
        right: 0;
        width: 160px;
      }
    }
  }
}