.text {
    font-size: inherit;

    &--xl {
        line-height: 24px;
        font-size: 18px;
    }
    &--l {
        line-height: 24px;
        font-size: 16px;
    }
    &--m {
        line-height: 20px;
        font-size: 14px;
    }
    &--s {
        line-height: 16px;
        font-size: 12px;
    }
    &--xs {
        line-height: 14px;
        font-size: 11px;
    }

    &--700 {
        font-weight: 700;
    }
    &--600 {
        font-weight: 600;
    }

    &--base {
        color: var(--text-base);
    }
    &--secondary {
        color: var(--text-secondary);
    }

    &--text-block {
        line-height: 1.7;

        p, img {
            margin-bottom: 24px;
        }
        ul, ol {
            margin-bottom: 24px;
            li {
                position: relative;
                display: list-item;
                margin-bottom: 8px;
                padding-left: 20px;

                &::before {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    flex-shrink: 0;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        a {
            &:hover {
                color: var(--red-400);
            }
        }

        & > * {
            &:last-child {
                margin-bottom: 0;
            }
        }

        &.text--l {
            line-height: 24px;
        }
    }
}