.secondary-menu {
    display: none;

    @include laptop-min {
        display: flex;
        gap: var(--spacing-24);
    }

    &__link {
        padding: 20px 0;
        display: block;
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;        

        &:hover {
            color: var(--red-400);
        }

        &--accent {
            color: var(--yellow-500);

            &:hover {
                color: var(--red-400);
            }
        }

        &--active {
            color: var(--text-base);

            &:hover {
                color: var(--text-base);
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}