.detail-item {
    margin-top: 40px;

    .detail-item-crumbs {
        margin-bottom: 16px;

        &__views {
            &::after {
                display: none;

                @include tablet-min {
                    display: block;
                }
            }

            span {                
                font-size: 0;
                display: flex;
                align-items: center;

                img {
                    @include tablet-min {
                        display: none;
                    }
                }

                @include tablet-min {
                    font-size: 14px;
                }
            }
        }

        &__print {
            display: none;

            @include tablet-min {
                display: block;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        

        @include tablet-min {
            flex-direction: row;
            gap: 24px;
        }
    }

    &__buttons {
        display: none;

        @include tablet-min {
            display: flex;
            flex-direction: column;
            gap: 16px;
            flex: 1;
        }

        .price-block {
            padding: 12px 0;
            background-color: var(--green-100);
            border-radius: 40px;
            gap: 0;

            p {
                padding: 0;
                @include text-size('secondary');
            }
        }

        .button {
            width: 100%;
        }
    }

    &__blocks {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: max(1fr);
        gap: 16px;

        @include tablet-min {
            grid-template-columns: repeat(2, max(1fr));
            align-items: start;
        }

        & > :first-child {
            @include tablet-min {
                grid-column: 1 / -1;
            }
        }

        h2 {
            margin-bottom: 0 !important;
        }
    }

    &__gallery {
        width: 100%;
        
        @include tablet-min {
            max-width: 485px;
        }

        @include laptop-min {
            max-width: 419px;
            flex-shrink: 1;
        }

        @include desktop-min {
            max-width: 635px;
        }

        &.text--text-block {
            line-height: 1.43;
        }
    }

    .detail-item-slider {
        overflow: hidden;

        @include tablet-min {
            margin: 0 0 16px 0;
        }
        @include handset-max {
            width: auto !important;
            margin-right: -24px;
        }
        @include mobile-only {
            margin-right: -16px;
        }

        &__wrapper {
            height: 205px;  

            @include tablet-min {

                height: 325px;
            }

            @include laptop-min {
                height: 280px;
            }

            @include desktop-min {
                height: 390px;
            }
        }

        &__thumb {
            display: none;
            height: 108px;
            padding-bottom: 28px;

            @include tablet-min {
                display: block;
            }

            .swiper-slide {
                overflow: hidden;
                width: 120px;
                border: 2px solid transparent;
                border-radius: 8px;
                cursor: pointer;
                @include transition;

                &:hover {
                    background-color: var(--text-primary);
                }
            }

            .swiper-slide-thumb-active {
                border: 2px solid var(--text-primary);
            }

            img {
                @include cover-img;
            }
        }        

        &__slide {
            border-radius: 16px;
            overflow: hidden;
            img {
                @include cover-img;
            }
        }

        &__prev, &__next { @include slider-nav($device-tablet-min); }
        &__next { @include slider-nav-next($device-tablet-min); }
        &__prev { @include slider-nav-prev($device-tablet-min); }
    }

    .detail-item-action-block {
        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &__controls {
            display: flex;
            gap: 8px;
        }
    }

    .detail-item-description-block {
        align-self: stretch;
        min-height: 160px;
        padding: 16px;
        background-color: var(--neutral-25);
        border-radius: 16px;

        a {
            &:hover {
                color: var(--red-400);
            }
        }

        &__title {
            margin-bottom: 8px;
            @include text-size('md');
            @include text-weight('semibold');
        }

        .detail-item-text {
            line-height: 24px;

            &.is-collapsible {
                position: relative;
            }

            &.is-collapsed {
                max-height: 192px;
                overflow: hidden;
            }

            & + a {
                display: none;
            }

            &.is-collapsible + a {
                display: inline-block;
                margin-top: 8px;
                font-size: 12px;
            }
        }
    }   

    .detail-item-specifications {
        display: grid;
        grid-template-columns: max(1fr);
        gap: 16px;

        @include handset-min {
            grid-template-columns: repeat(2, max(1fr));
        }

        @include tablet-min {
            grid-template-columns: repeat(3, max(1fr));
        }

        @include widescreen-min {
            grid-template-columns: repeat(4, max(1fr));
        }

        &__item-text, &__item-title {
            display: block;
        }
        &__item-title {
            @include text-size('sm');
            color: var(--text-secondary);
        }
        &__item-text {
            &--secondary {
                color: var(--neutral-300);
            }
        }
    }

    .detail-item-company {

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include tablet-min {
                flex-direction: row;
            }
        }

        &__img {
            width: 308px;
            height: 172px;
            padding: 13px;
            border: 1px solid var(--neutral-100);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            line-height: 24px;

            .crumbs {
                margin-top: -4px;
                margin-bottom: 8px;
            }
            .detail-item-company__list {
                li {
                    margin-bottom: 0;
                }
            }
        }
        
        &__list {
            li {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                &:hover {
                    color: var(--red-400);
                }
            }
        }
    }

    .detail-item-company-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
// Прилипающий футер детальнйо страницы. Находиться вне разметки блока detail-item
.detail-item-mobile-footer {
    padding: 16px;
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 5;
    background-color: var(--neutral-0);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    box-shadow: 0px -2px 16px 0px #27333F1F;

    @include tablet-min {
        display: none;
    }

    &__row {
        display: flex;
        gap: 8px;
        width: 100%;

        .button {
            flex: 1;
        }

        &:last-child {
            .button:last-child {
                max-width: 48px;
            }
        }
    }

    &__more {
        position: relative;
        width: 48px;

        .button {
            width: 100%;
        }

        &.is-open .dropdown-backdrop {
            display: block;
        }

        .dropdown-backdrop {
            bottom: 100%;
            left: auto;
            right: 0;
            width: max-content;
            transform: translateY(-2px);
        }
    }
}