.first-block {
    margin-bottom: 48px;

    @media(min-width: 768px) {
        display: flex;
        gap: 24px;
        align-items: flex-start;
    }

    h1 {
        margin-bottom: 16px;
    }

    .crumbs {
        margin-bottom: 16px;
    }


    &__img {
        width: 308px;
        margin-bottom: 24px;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid var(--neutral-100);

        @media (max-width: $breakpoint-lg - 1) {
            width: 232px;
        }

        @media (max-width: $breakpoint-md - 1) {
            width: 168px;
        }

        @media (max-width: $breakpoint-xs - 1) {
            width: 150px;
        }

        @media (min-width: $breakpoint-sm) {
            margin-bottom: 0;
            flex-shrink: 0;
        }

        @media (min-width: $breakpoint-md) {
            padding: 24px;
        }
    }

    &__text {
        @media(min-width: 1024px) {
            @include text-size('md');
        }
    }

    &__title {
        &.first-block__title {
            margin-bottom: 16px;
        }
    }

    &--company {
    }
}