.our-numbers-list {
    display: grid;
    grid-template-columns: repeat(2, max(1fr));
    gap: 8px;

    @include handset-min {
        gap: 16px;
    }

    @include tablet-min {
        grid-template-columns: repeat(4, max(1fr));
    }

    &__item {
        padding: 16px;
        border-radius: 8px;
        background-color: var(--neutral-25);

        @include handset-min {
            border-radius: 16px;
        }

        @include laptop-min {
            padding: 24px;
        }
    }

    &__number {
        font-size: 24px;
        line-height: 24px;

        @include handset-min {
            font-size: 32px;
            line-height: 48px;
        }

        @include laptop-min {
            font-size: 44px;
            line-height: 64px;
        }

        @include widescreen-min {
            font-size: 48px;
        }
    }

    &__description {
        @include text-size('xs');
        color: var(--text-secondary);

        @include handset-min {
            font-size: 12px;
            line-height: 16px;
        }

        @include laptop-min {
            font-size: 14px;
            line-height: 20px;
        }

        @include widescreen-min {
            font-size: 16px;
        }
    }
}