.price-block {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--green-100);
    overflow: hidden;
    text-align: center;

    @include tablet-min {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        gap: 4px;
    }
    @include handset-max {
        border-radius: 40px;
    }


    &--dropdown {
        position: relative;
        cursor: pointer;

        &.is-open {
            overflow: visible;

            .dropdown-backdrop {
                display: block;
            }

            p.price-dropdown::after {
                transform: rotate(180deg);
            }
        }

        .dropdown-backdrop {
            top: 100%;
            left: 65%;
            transform: translateX(-50%) translateY(-25px);
            width: max-content;
        }
    }

    &--double {
        padding: 0;
        background-color: transparent;
        gap: 8px;
        overflow: visible;

        p {
            padding: 15px 0;
        }
    }

    p {
        border-radius: 8px;
        @include text-size('lg');
        @include text-weight('bold');
        background-color: var(--green-100);
        color: var(--green-500);

        @include tablet-min {
            padding: 4px 10px;
        }

        small {
            @include text-weight('base');
            @include text-size('xs');
        }
    }

    p.price-dropdown {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        
        &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            @include mask-icon(var(--icon-chevron-down));
            background-color: var(--green-500);
        }
    }

    span {
        display: block;
        @include text-size('xs');
        color: var(--green-500);
    }

    &--small {
        max-width: 135px;
        p {
            @include text-size('sm');
            @include text-weight('base');
        }
    }
}