.section {
    width: 100%;
    margin-bottom: 40px;

    &--secondary {
        padding: 64px 0;
        background: var(--neutral-60);
    }

    &--48-64 {
        margin-bottom: 48px;

        @include widescreen-min {
            margin-bottom: 64px;
        }
    }

    &__text {
        margin-bottom: 24px;
    }

    &__navigation {
        margin-left: 32px;
        list-style-type: decimal;
        line-height: 24px;
        font-size: 16px;
        color: var(--text-primary);

        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            &:hover {
                color: var(--red-400);
            }
        }
    }

    .section__title {
        &.section__title {
            margin-bottom: 32px;
        }
    }
}