.expo-page {
    padding-top: 24px;

    @include handset-min {
        padding-top: 32px;
    }

    @include laptop-min {
        padding-top: 48px;
    }

    @include widescreen-min {
        padding-top: 80px;
    }

    h1 {
        @include text-size('secondary');
        @include text-weight('bold');

        @include handset-min {
            font-size: 32px;
            line-height: 40px;
            @include text-weight('extrabold');
        }

        @include tablet-min {
            font-size: 36px;
        }

        @include laptop-min {
            font-size: 48px;
            line-height: 64px;
            font-weight: 900;
        }
    }

    h2 {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 24px;

        @include handset-min {
            margin-bottom: 32px;
            font-size: 24px;
            line-height: 30px;
        }

        @include tablet-min {
            @include text-weight('extrabold');
            font-size: 36px;
            line-height: 40px;
        }
    }

    .layout, .content, .sidebar {
        padding: 0;
    }

    // Первый блок на главной Экспо

    .main-banner {
        position: relative;

        .our-numbers-list {
            margin-bottom: 16px;

            @include tablet-min {
                margin-bottom: 0;
            }
        }

        &__title {
            margin-bottom: 16px;
            @include tablet-min {
                margin-bottom: 48px;
                max-width: 73%;
            }
            h1 {
                margin-bottom: 16px;

                @include tablet-min {
                    margin-bottom: 40px;
                }
            }
        }

        &__sub-title {
            color: var(--neutral-500);

            @include handset-min {
                font-size: 20px;
                line-height: 28px;
            }

            @include laptop-min {
                font-size: 28px;
                line-height: 40px;
            }
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @include handset-min {
                gap: 16px;
            }

            @include tablet-min {
                position: absolute;
                right: 0;
                top: 0;
                width: 230px;
            }
            @include widescreen-min {
                width: 308px;
            }
        }
    }

    .exponents {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include tablet-min {
            flex-direction: row;
            align-items: flex-start;
        }

        &__aside {
            @include tablet-min {
                width: 230px;
                flex-shrink: 0;
            }
            @include laptop-min {
                width: 315px;
            }
            @include widescreen-min {
                width: 308px;
            }
        }

        &__content {
            flex: 1;
        }

        .companies-list__item:nth-child(9) {
            display: none;
            @include laptop-min {
                display: flex;
            }
        }

        .rounded-gray-block {
            p {
                color: var(--text-secondary);
            }
        }

        &__form-wrapper {
            margin-top: 24px;
            margin-bottom: 24px;
            display: grid;
            grid-template-columns: max(1fr);
            gap: 8px;

            @include handset-min {
                grid-template-columns: repeat(2, max(1fr));
                gap: 16px;
            }

            @include tablet-min {
                grid-template-columns: max(1fr);
            }
        }
    }

    .technic-expo {

        &__list {
            display: flex;
            flex-direction: column;
            gap: 16px;

            // @include laptop-min {
            //     max-width: 728px;
            // }
            // @include widescreen-min {
            //     max-width: 948px;
            // }
        }
    }
}