.categories {
    display: flex;
    flex-direction: column;
    gap: 16px;    

    &__list {
        display: grid;
        row-gap: 9px;
        column-gap: 8px;
        grid-template-columns: repeat(2, max(1fr));

        @include tablet-min {
            grid-template-columns: repeat(3, max(1fr));
        }
        @include desktop-min {
            grid-template-columns: repeat(4, max(1fr));
        }

        li {
            min-width: 0; // хак для трех точек в конце blue-card__title
        }
    }

    & + .categories {
        margin-top: 16px;
    }
}