.companies {

    &__slider {
        padding-bottom: 10px;

        @media (max-width: $breakpoint-sm - 1) {
            margin-right: -24px;
        }

        @media (max-width: $breakpoint-xs - 1) {
            margin-right: -16px;
        }
    }

    &__list {
        margin-bottom: 16px;
        max-width: 340px;
    }

    &__item  {
        position: relative;
    }

    &__link {   
        padding: 10px;
        width: 112px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: #fff;
        border: 1px solid var(--neutral-100);
        border-radius: 12px;

        img {
            object-fit: contain;
        }

        &.ultra {

            &::after {
                position: absolute;
                bottom: -10px;
                padding: 3px 5px;
                content: 'ULTRA';
                color: var(--neutral-0);
                background-color: var(--yellow-400);
                border-radius: 6px;
                @include text-size('sm');
                text-transform: uppercase;
            }
        }
    }
}