.companies {

  &__slider {
    padding-bottom: 10px;

    @include handset-max {
      margin-right: -24px;
    }

    @include mobile-only {
      margin-right: -16px;
    }
  }

  &__list {
    margin-bottom: 16px;
    max-width: 340px;
  }

  &__item  {
    position: relative;
    width: auto;
  }

  &__link {
    position: relative;
    padding: 10px;
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid var(--neutral-100);
    border-radius: 12px;

    &:hover {
      box-shadow: 0 2px 16px #27333F1F;
    }

    img {
      object-fit: contain;
    }

    .chip {
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }
}

.company-directory {
  display: flex;
  flex-direction: column;
  gap: 16px;
}