.filter {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__inputs {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-8);

        @include handset-min {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet-min {
            grid-template-columns: repeat(3, 1fr);
        }

        &--extra {
            padding-top: 8px;
        }
    }

    &__checkboxes {
        display: flex;
        gap: 8px;
        align-items: center;
        flex-wrap: wrap;

        @include tablet-min {
            gap: 16px;
        }
        @include handset-max {
            .field-checkbox {
                &__label {                    
                    display: block;
                    padding: 8px;
                    outline: 1px solid var(--neutral-100);
                    border-radius: 8px;
                    background-color: var(--neutral-0);
                    @include text-size('sm');

                    &::before {
                        display: none;
                    }
                }

                &__input {
                    &:checked + .field-checkbox__label::after {
                        display: none;
                    }
                    &:checked + .field-checkbox__label {
                        background-color: var(--neutral-100);
                        outline: 0;
                    }
                    &:focus-visible + .field-checkbox__label {
                        outline: 1px solid var(--field-ouline);
                        outline-offset: 2px;
                    }
                }
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;

        @include mobile-only {
            justify-content: center;
            gap: 8px;
        }

        .button {
            display: none;

            &--find {
                @include handset-max {
                    flex-grow: 1;
                }
            }
        }
    }

    &__no-filters {
        padding: 12px 16px;
        color: var(--text-disabled);
        line-height: 24px;
    }

    &__range {
        display: flex;
        gap: 2px;

        .field-text {

            &:first-child .field-text__label{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child .field-text__label{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &__result-chips {
        padding-right: 60px;
        position: relative;
        overflow: hidden;
    }

    .chips-slider {
        display: none;
        margin-top: 8px;
    }

    &__clear-button {
        @include laptop-max {
            gap: 0;
            min-width: 40px;
            font-size: 0;
            text-indent: -99999px;
        }
        @include handset-max {
            display: none !important;
        }
    }

    &__save-button {
        @include laptop-max {
            gap: 0;
            min-width: 40px;
            font-size: 0;
            text-indent: -99999px;
        }
        @include handset-max {
            display: none !important;
        }
    }

    &__extra-button {
        margin-right: auto;

        @include handset-max {
            font-size: 0;
            text-indent: -99999px;
        }
        @include handset-max {
            display: none !important;
        }
    }

    &__dropdown-button {
        position: relative;
        width: 48px;

        @include tablet-min {
            display: none !important;
        }

        .button {
            width: 100%;
        }

        &.is-open .dropdown-backdrop {
            display: block;
        }

        .dropdown-backdrop {
            bottom: 100%;
            left: auto;
            right: 0;
            width: max-content;
            transform: translateY(-2px);
        }
    }

    &__more {
        display: flex;
        justify-content: center;

        @include tablet-min {
            display: none !important;
        }
    }

    &__header {
        display: none;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 44px;
        padding: 0 16px;
        background: #fff;
        border-bottom: 1px solid var(--neutral-100);
    }

    &--hidden-extra {
        .filter__inputs--extra {
            display: none;
        }
        .filter__checkboxes--extra {
            display: none;
        }
    }

    &--filled {
        .filter__buttons {
            .button {
                display: flex;
            }
            .filter__no-filters {
                display: none;
            }
        }
        .chips-slider {
            display: block;
        }
    }

    &:not(.filter--filled) {
        .filter__dropdown-button {
            @include handset-max {
                display: none !important;
            }
        }
    }

    &--opened {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 60px 16px 96px;
        background: #fff;

        .small-title {
            display: none !important;
        }

        .filter__header {
            display: flex;
        }

        .filter__more, .chips-slider {
            display: none !important;
        }

        .filter__buttons {
            position: fixed;
            z-index: 101;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 12px 8px;
            background: #fff;
            box-shadow: 0 -2px 16px rgba(39, 51, 63, 0.12);
        }

        .filter__inputs--extra {
            display: grid !important;
        }

        .filter__checkboxes--extra {
            display: flex !important;
        }
    }
}