.offer-form {
    padding-bottom: 40px;

    .layout, .content {
        padding: 0 !important;
    }
    .layout {
        @include tablet-max {
            display: flex;
            flex-direction: column-reverse;
            gap: 64px;
        }
    }
    .sidebar {
        @include tablet-max {
            align-items: flex-start;
        }
    }

    .field-textarea__input {
        height: 168px;
    }
    .field-textarea__label {
        height: 200px;
    }

    &__header {
        margin-bottom: 64px;
        padding-top: 80px;
        padding-bottom: 80px;
        border-bottom: 1px solid var(--neutral-100);

        @include tablet-max {
            padding-top: 0;
            padding-bottom: 56px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .title {
            &:has(+ .disabled) {
                color: var(--text-disabled);
            }
        }
        .field-dropdown, .field-text {
            max-width: 478px;

            &.offer-form__currency {
                max-width: 60px;
            }
        }
        .link {
            align-self: flex-start;
        }

        & > .row {
            width: 100%;
        }
    }
    &__options {
        display: grid;
        grid-template-columns: repeat(2, max(1fr));
        gap: 16px;

        @include handset-max {
            grid-template-columns: max(1fr);
        }
    }
}

.filepond {
    &--drip {
        display: none !important;
        background: var(--neutral-60) !important;
    }
    &--panel-root {
        background: var(--neutral-60) !important;
    }
    &--drop-label {
        color: var(--text-secondary) !important;
    }
    &--label-action {
        text-decoration: none !important;
        color: var(--text-primary);

        &:hover {
            color: var(--link-hover);
        }
    }
    &--item {
        overflow: hidden !important;
        width: 200px !important;
        height: 120px !important;
        margin: 8px !important;
        border-radius: 8px !important;
    }
    &--image-clip {
        width: 200px !important;
        height: 120px !important;
        margin: 0 !important;
    }
    &--image-canvas-wrapper {
        transform: none !important;
        transform-origin: initial !important;
        position: absolute !important;
        inset: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
    &--image-bitmap {
        inset: 0 !important;

        canvas {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }
    &--file-info-sub {
        opacity: 0 !important;
    }
    &--file {
        .filepond--file-status {
            margin-right: 0.25em;
        }
    }
}


.offer-completion {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border: 1px solid var(--neutral-100);
    border-radius: 16px;

    @include handset-max {
        max-width: 100%;
    }

    &__progress {
        margin: auto;
    }
    &__item {
        display: flex;
        gap: 8px;
        color: var(--text-secondary);

        .icon {
            opacity: 0;
        }

        &--active {
            color: var(--green-500);

            .icon {
                opacity: 1;
            }
            .text {
                color: var(--text-base);
            }
        }
    }
}

.special-offers {
    
    &__list {
        max-width: 340px;

        @include tablet-min {
            max-width: none;  //  разрывает вёрстку на 768
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        width: auto !important;

        @include laptop-min {
            max-width: 958px;
        }

        @include handset-max {
            margin-right: -24px;
        }

        @include mobile-only {
            margin-right: -16px;
        }
    }

    &__prev,
    &__next {
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 50%;
        background-color: var(--neutral-60);        
        cursor: pointer;
        pointer-events: all;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            @include mask-icon(var(--icon-chevron-down));
            background-color: var(--text-base);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &.swiper-button-disabled {
            opacity: 0.3;
            cursor: default;
        }
    }

    &__prev::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    &__next::after {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

